<div class="flex-row">
  <h1>Time Series Charts</h1>
</div>
<div class="flex-row">
  {{#each metrics as |metric index|}}
    {{beaker-chart data=data metricKey=index }}
  {{/each}}
</div>
<div class="flex-row">
  <div>
    <label for="">Time Series Update Interval (seconds)</label>
    {{input type='number' min=30 value=updateIntervalDisplay}}
  </div>
</div>